[project]
	state = active
[access "refs/heads/*"]
	forgeAuthor = group RIL Team
	forgeCommitter = group RIL Team
	push = group RIL Team
	label-Code-Review = -2..+2 group RIL Team
	label-Verified = -1..+1 group RIL Team
	submit = group RIL Team
[access "refs/heads/qcril"]
	exclusiveGroupPermissions = submit
